*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
}
h1{
    font-size: 1em;
}
.shopping-cart{
    display: flex;
}
.shop-container{
    display:flex;
    width:100%;
    flex-wrap: wrap;
}
.product-card{
    width: 280px;
    height: 280px;
    background-color: azure;
    margin: 0 10px 0 0;
}

.images-container{
    width: 100%;
    height:70%;
    
    overflow: hidden;
}
.product-card img{
    width: 100%;

}
.product-card__header {
    display: flex;
    justify-content: space-between;
}
.main-container{
    position:relative;
    width: 100%;
    height: 100%;
}
.checkout-overlay{
    position:absolute;
    top: 0;
    right: 0;
    background-color: rgba(165, 42, 42, .95);
    max-width: 40%;
    min-width: 30%;
    height: 100vh;
}
.checkout-product{
    display:flex;
}